.FormGroup {
  padding: 8px 6px;
  margin-bottom: 1rem;
  border-style: none;
  background-color: transparent;
  border: 3px solid #ccc;
  border-radius: 8px;
  color: #ccc !important;
}
.FormGroup.w-100{
  width: 100%;
}
.FormGroup.w-50{
  width: 48%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}